<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TASK MANAGER</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">TASK MANAGER</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>タスク追加</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">タスク<span class="required">※</span></p>
        <form action="/create_task/<%=kyusyu_member.id%>" method="post">
          <input type="text" name="taskName" required placeholder="10文字以内" maxlength="10"><br></br>
          <p class="form-label">説明</p>
          <textarea id="message" name="taskAbout" rows="5" cols="40" placeholder="（省略可）"></textarea><br></br>
          <p class="form-label">URL</p>
          <input type="url" name="taskUrl" placeholder="（省略可）"><br></br>
          <p class="form-label">期限<span class="required">※</span></p>
          <input type="date" name="taskDl" required>
          <input type="submit" value="登録する">
        </form>
      </div>
      <a href="/profile_kyusyu_member/<%=kyusyu_member.id%>" class="cancel-button"></span>もどる</a>
    </div>
  </body>
</html>