<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TASK MANAGER</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">TASK MANAGER</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>未完了タスク一覧</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column"></span>
          <span>九州沖縄社員</span>
        </div>
        <ul class="summary-table-body">
            <% if (Array.isArray(tasks)) { %>
                <% tasks.sort((a, b) => parseInt(a.member_id, 10) - parseInt(b.member_id, 10)); %>
                <% let groupedTasks = {}; %>
                <% tasks.forEach(task => { %>
                  <% if (!groupedTasks[task.member_id]) { groupedTasks[task.member_id] = []; } %>
                  <% groupedTasks[task.member_id].push(task); %>
                <% }); %>
                <div class="table-container">
                  <% Object.keys(groupedTasks).forEach(memberId => { %>
                    <div class="member-group">
                      <h3>（名前）<%=  %></h3>
                      <ul class="task-list">
                        <% groupedTasks[memberId].forEach(task => { %>
                          <li class="task-item">
                            <div class="item-data">
                              <span class="name-column"><%= task.name %></span>
                            </div>
                          </li>
                        <% }) %>
                      </ul>
                    </div>
                  <% }) %>
                </div>
              <% } else { %>
                <p>タスクがありません。</p>
              <% } %>    
        </ul>
      </div>
    </div>
  </body>
</html>